// Specific CSS for your home-page
body {
  background-color: $cultured
}
.banner-img {
  width: 100%

}
.m4n{
  margin-top: 100px;
}
.hero{
  background-color: $platinum; opacity: 75%;
  width: max-content;
  max-width: 800px;
  border-radius: 12px;
  color: $dark-green;
  padding: 20px;
  position: relative;
  bottom: 0%;
  h1 {
    font-weight: 700;
    font-size: 60px;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family:sans-serif
  }
  p{
    font-family: 'Cutive Mono', monospace;
  }
}

.about{
  background-color: $md-gray;
  max-width: 600px;
  border-radius: 8px;
  height: 300px;
  p {
    color: $cultured;
  }
  hr{
    border-color: $cultured;
  }
  .about-img{
    border-radius: 100%;
    width: 20vh;
    height: auto;
    border: 2px solid $platinum;
    align-items: center;
  }
  .about-text{
    margin:4px, 4px;
    padding:10px;
    width: auto;
    height: 200px;
    overflow-x: overlay;
    overflow-y:scroll;



  }
}
.about{
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.project-stack{
  background-color: $platinum;
  border-radius: 8px;
  color: $dk-gray;
  p {
    color: $dk-gray;
  }
}

