<div>
  <div>
    <div class="nav-logo-sq"></div>
    <div class="nav-logo-sq"></div>
    <div class="nav-logo-text">J</div>
  </div>
  <ul>
    <li>Works</li>
    <li>Blogs</li>
    <li>Contact</li>
    <li><i class="fa-solid fa-sun"></i></li>
  </ul>
</div>
