
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", style: "text-decoration: none" do %>
      <div class="nav-logo" id="nav-lgo">
        <div class="nav-logo-sq sq-1" id="nav-sq1"></div>
        <div class="nav-logo-sq sq-2" id="nav-sq2"></div>
        <div class="nav-logo-text"><h3 id="nav-txt">J</h3></div>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#about-me">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#works">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li>
            <%= link_to 'Resume', pages_download_pdf_url, class:"btn btn-primary btn-small" %>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
