<div class="m4n"></div>
<section class="hero container">
  <p> hi, my name is: </p>
  <div class="">
    <h1> Jenna Castillo.</h1>
    <div class="" style="height: 50px">
          <h2> <span data-controller="typed-js"></span> </h2>
    </div>
  </div>
</section>

<div class="container mt-5 about" id="about-me" data-controller="about">
  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-12 mt-3">
      <h3 >About me</h3>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12">
      <div class="segmented-control">
        <input  data-action="click->about#displayBrief" type="radio" name="radio2" value="3" id="tab-1" checked/>
        <label for="tab-1" class= "segmented-control__1">
          <p class="mt-3">The Brief</p></label>

      <input  data-action="click->about#displayBetween" type="radio" name="radio2" value="4" id="tab-2" />
      <label for="tab-2" class= "segmented-control__2">
        <p class="mt-3">Inbetween</p></label>

      <input type="radio" data-action="click->about#displayLife" name="radio2" value="5" id="tab-3" />
      <label for="tab-3" class= "segmented-control__3">
        <p class="mt-3">Life Story</p></label>

      <div class="segmented-control__color"></div>
    </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-top">
    <div class="col-lg-2 col-md-4 col-sm-12">
      <%= image_tag("profile.jpeg", class: "about-img") %>
    </div>
    <div class='col-lg-4 col-md-8 col-sm-12'>
      <div class="about-text ps-3">
        <div data-about-target="briefText" class="">
          <p> I am a full-stack web developer focused on building and designing exceptional digital products.
            I am currently building merchant and scheduling web applications.
          </p>
        </div>
        <div class="hidden" data-about-target="inbetweenText">
            In March of 2021,  I began my career transition into tech with online resources such as Harvard's CS50 and App Academy Open.
            In October 2022 I completed <a href="https://www.lewagon.com/" target="_blank" > Le Wagon's</a> 6-month full-stack intensive.


        </div>
        <div class="hidden" data-about-target="lifestoryText">
          <p> Before I was a developer, I was a video producer and digital marketer.
          <br>
          From interviewing world class surfers in Oahu to collaborating with dancers in Ghana,
          and even filming a life saving surgery in San Diego, my previous career provided me with a unique
          education in creative thinking, collaboration, and adaptability that I now bring to my career as a developer.
          I first touched code in 2021 and since then I loved using technical means for a creative ends. Now  I've
          merged my past experience and future ambitions to build problem-solving, creative,
          and hopefully one day, inspiring, web applications.
          </p>
        </div>
      </div>
  </div>
</div>
</div>

<div class="container-sm tech-stack my-5 p-2">
  <div> <h2> Stack </h2> </div>
  <div class="row justify-content-center">
    <div class="col-2 p-1"> <i class="px-2 fab fa-python fa-4x"></i><i class="px-2 far fa-gem fa-4x"></i> </div>
    <div class="col-2 p-1"> <i class=" px-2 fab fa-js fa-4x"></i> <i class="px-1 fab fa-html5 fa-4x"></i> <i class="px-1 fab fa-css3 fa-4x"></i></div>
    <div class="col-2 p-1"> <i class="fab fa-sass fa-4x"></i></i> <i class="px-2 fab fa-github fa-4x"></i> <i class="px-2 fas fa-database fa-4x"></i> </div>
  </div>
</div>


<!-- <div class="container mt-5 ">
  <div class="row tech-section justify-content-center">
    <div class="col-4 project-stack me-5">
      <h3 class="mt-1 py-2"> Experience </h3>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h5> Le Wagon Full-stack Bootcamp </h5>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p> Ruby/ Ruby on Rails</p>
              <p> Python </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5> Harvard CS50 </h5> <i class=" px-1 fab fa-js"></i> <i class="px-1 fab fa-html5"></i> <i class="px-1 fab fa-css3"></i>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5> Previous Work </h5> <i class="px-1 fas fa-database"></i>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 px-3 project-stack">
      <h3 class="mt-1 py-2"> </h3>
      <p> I am building a scheduling application and an ecommerce site to widen the depth of
          my knowlege. </p>
    </div>
  </div>
</div> -->

<div class="container works-section mt-5" id="works">
  <h2 > Highlighted Works </h2>
  <div class="works">

    <div class="card works-card" data-bs-toggle="modal" data-bs-target="#dejaVuModal">
      <div class="card-body">
        <h5 class="card-title"> Deja Vu</h5>
      </div>
      <%= image_tag("deja_vu.jpg", class:"card-img-bottom") %>
    </div>

    <div class="card works-card" data-bs-toggle="modal" data-bs-target="#watchlistModal">
      <div class="card-body">
        <h5 class="card-title"> Watchlist</h5>
      </div>
      <%= image_tag("watchlist.png", class:"card-img-bottom") %>
    </div>

    <div class="card works-card" data-bs-toggle="modal" data-bs-target="#quizzleModal">
      <div class="card-body">
        <h5 class="card-title"> Quizzle</h5>
      </div>
      <%= image_tag("quizzle.png", class:"card-img-bottom") %>
    </div>


  </div>
</div>

<!-- Models for Works Grid -->
<div class="modal fade" id="dejaVuModal" tabindex="-1" aria-labelledby="dejaVuModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3 me-3" id="dejaVuModalLabel"> Deja Vu </h1> <h5> <span class="mx-1 badge bg-secondary">Ruby on Rails</span> <span class="mx-1 badge bg-secondary">JS</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Deja Vu is a web-application where users can discover experiences people recommend across the globe.
            It built with Ruby, Rails 6, JS, Postgres and Mapbox API. I built this application as a final project for
            <a href="https://www.lewagon.com/" target="_blank">Le Wagon's</a> Full-Stack Development Program.
      </div>
      <div class="modal-footer">
        <a  href="https://github.com/Jennacodes101/dejavu" class="btn btn-secondary"> <i class="px-2 fab fa-github fa-1x"> </i> Repo</a>
        <a type="button" href="http://www.deja-vu.click/" class="btn btn-secondary">Open site</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="watchlistModal" tabindex="-1" aria-labelledby="watchlistModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="watchlistModalLabel">Watchlist</h1> <h5> <span class="mx-1 badge bg-secondary">Ruby on Rails</span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Watchlist is web-application where you can create a list of movies you wish to watch and follow other people's lists.
        This application uses the FreeMovieDatabase Api and is built with Ruby on Rails and a sqlite3 database
      </div>
      <div class="modal-footer">
        <a  href="https://github.com/Jennacodes101/rails-watch-list" class="btn btn-secondary"> <i class="px-2 fab fa-github fa-1x"></i> Repo</a>
        <!-- <a type="button" href="" class="btn btn-secondary">Walkthrough</a> -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="quizzleModal" tabindex="-1" aria-labelledby="quizzletModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="quizzleModalLabel">Quizzle</h1> <h5> <span class="mx-1 badge bg-secondary">Python</span> <span class="mx-1 badge bg-secondary">SQLite3</span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Quizzle is a web application built with python/ sqlite3/ JS and CSS. It is a daily spanish-english quiz game complete with a homepage for
        leaderboards. Each day a new list of questions will auto-generate from a questions database.
      </div>
      <div class="modal-footer">
        <a  href="https://github.com/Jennacodes101/quizzle_final" class="btn btn-secondary"> <i class="px-2 fab fa-github fa-1x"> </i>Repo</a>
        <a type="button" href="https://youtu.be/CsFu9HZlrTg" target="_blank" class="btn btn-secondary">Walkthrough</a>
      </div>
    </div>
  </div>
</div>

<div class="container contact-section mt-5" id="contact">
  <div class="container cont-contact text-center">
    <h3 class="pb-3 pt-2"> Now what? </h3>
    <div class="cont-contact-btns">
      <a href="#" class="btn btn-primary disabled"> Email me </a>
      <p class="my-1"> jennacodes101@gmail.com </p>
      <p class="pt-2"> <strong class="my-3"> Or </strong></p>
      <h5> Find me here: </h5>
      <ul class="my-1 p-1 contact-links">
        <li> <a class="btn btn-sm btn-primary me-2" href="https://www.linkedin.com/in/jenna-castillo-461694140/" target="_blank">
            LinkedIn
          </a></li>
          <li><a class="btn btn-sm btn-primary me-2" href="https://github.com/Jennacodes101" target="_blank">Github</a>
          </li>
      </ul>
    </div>
  </div>
</div>
