.nav-portfolio {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-logo-sq {
  width: 50px;
  height: 50 px;
  transform: rotate(45deg);
  border: 1.5px solid $dark-green;
}

.nav-logo-text{
  color: $dark-green;


}
